html
body {
    background: var(--main-color);
    font-family: 'Poppins', sans-serif
}

.mainContainer {
    background-color: var(--main-color);
}

/*----------------------------------heading setting------------------------------*/
.Heading {

    margin-left: 240px;
    margin-bottom: 150px;
    margin-top: 120px;
}

.mainTitle {
    color: var(--menu-text-color);
    font-size: 7rem;
    font-weight: 700;
    /*width: 50vw;*/

}

@media screen and (max-width: 750px) {
    .Heading {
        margin: 30vw 5vw 40vw 10vw;
    }

    .mainTitle {
        font-size: 4.2rem;
        line-height: 4.7rem;
        font-weight: 700;
        /*width: 60%;*/
    }
}

.smallTitle {
    color: #7fa4da;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 5px;

}

@media screen and (max-width: 750px) {
    .smallTitle {
        font-size: 1.3rem;
        letter-spacing: 3px;
        margin-bottom: 7vw;
    }

}

/*----------------------faq setting-----------------------------*/

.accordionTitle {
    color: var(--menu-text-color);
}

.firstRow {
    display: flex;
    flex-direction: row;
}

.accordion {
    margin-top: 60px; /* Add space above accordion */
    margin-left: 0;
}


.accordion .card {
    border-width: 1px 0 1px 0;
    color: var(--menu-text-color);
    border: none;
    background-color: var(--main-color);
    border-left: solid 2px #ffffff1a;
}

.accordion .card .question {
    background: var(--main-color);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
    margin-bottom: -2px;
    font-family: "Roboto", sans-serif;
}

.number {
    font-weight: 700;
    margin-right: 25px;
    font-size: 13px;
}

.accordion .question h2 span {
    float: left;
    margin-top: 10px;
    border-left: solid 2px;

}

.accordion .question .btn {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    position: relative;
    top: -2px;
    margin-bottom: 10px;

}

.accordion .question i {
    float: right;
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
    top: 5px;
    color: #4f537d;
}

.accordion .answer {
    background: var(--main-color);
    border-left: solid 2px var(--second-color);
    color: var(--menu-text-color);
    padding-left: 70px;
    padding-right: 40px;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 750px) {
    .accordion .answer {
        font-size: 13px;
        padding-top: 0;

    }

    .accordion .highlight {

        background: var(--main-color);
        border-left: solid 2px var(--second-color);
        color: var(--second-color);
    }


    .seCondRow {
        display: flex;
        flex-direction: row;
    }

    .bottomText {
        color: var(--menu-text-color);
        padding: 10vw;
        margin-left: 80px;
        /*margin-top: 150px;*/
        /*font-size: 15px;*/
        /*padding-right: 240px;*/
        /*font-weight: 400;*/
        /*padding-bottom: 30vh;*/
    }

    .leftAccordions {
        margin-left: 180px;
        width: 500px;
    }

    .rightAccordions {
        margin-left: 50px;
        width: 500px;
    }

    @media screen and (max-width: 750px) {

        .firstRow {
            display: flex;
            flex-direction: column;
            width: 60vw;
        }

        .seCondRow {
            display: flex;
            flex-direction: column;
            width: 60vw;
        }

        .accordion .question .btn {
            font-size: 1.3rem;
            letter-spacing: 0.3px;
        }
    }
    @media screen and (max-width: 750px) {

        .bottomText {
            margin-left: 40px;
            margin-right: 50px;
            padding-right: 133px;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            padding-bottom: 150px;
            margin-top: 60px;
        }

        #firstAccordion {
            width: 60vw;
            /*margin-left:240px;*/

        }

        #secondAccordion {
            width: 60vw;
            /*margin-left:35px;*/
        }

        #thirdAccordion {
            width: 60vw;
            /*margin-left:240px;*/
        }

        #fourthAccordion {
            width: 60vw;
            /*margin-left:35px;*/
        }

        .accordion .answer {
            line-height: 18px;
        }
    }
}


