
.post-info {
    padding-top: 1vw;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 12.5vw;
    padding-bottom: 2vw;
    column-gap: 1vw;
    row-gap: 1vw;
    width: 78vw;
}

.item {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.blog-post-content{
    width: 90%;
    margin-left: 0.8vw;
}
.blog-post-img img {
    width: 23vw;
    height: 17vw;
}

.blog-post-img img:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.blog-post-img {
    width: 23vw;
    height: 17vw;
    overflow: hidden;
}

.author-color {
    color: #a8a8a8;
    /*font-size: 1.5rem;*/
    line-height: 2.5rem;
}

.author-link {
    border-bottom: 1px dotted #a8a8a8;
}

.post-title {
    font-weight: 500;
    line-height: 4rem;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    line-height: 4.5rem;
    background-color: #fafafa;
}

.post-footer a {
    margin-right: 1vw;
}

.post-links i {
    color: #a8a8a8;
    border-left: 1px solid rgba(0, 0, 0, .08);
    padding-left: 1vw;
}
@media screen and (max-width:750px){
    .blog-container {
        flex-direction:column;
        width: 90vw;
        padding-left:7vw;
        row-gap: 4vw;

    }
    .item {
        width: 100%;
    }
    .blog-post-img ,.blog-post-img img{
        width: 85vw;
        height:45vh;
    }
    .blog-post-content{
        width: 80%;
        margin-left: 6vw;

    }
    .post-info {
        padding-top: 4vw;
    }
    .post-info i, .post-info span {
        font-size: 1.2rem;
    }

}