
/* start section filter */
section#filter {
    width: 1354px;
    height: 85px;
    margin: 0 auto;
}

/* end section filter */


/* start filter container  */

.filter-container {
    background-color: #fff;
}

/* end filter container  */


.filter-content ul {
    display: flex;

}

.filter-content div {
    display: flex;

}

.label {
    color: #8a8a8a;
}


.dropbtn {
    /* background-color: #3498DB; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    /* background-color: #2980B9; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    /* background-color: #f1f1f1; */
    /* min-width: 160px; */
    /* overflow: auto; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* z-index: 1; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    /* background-color: #ddd; */
}

.show {
    display: block;
}

a.cat:before {
    content: '\e85f';
    font-family: "mfn-icons";


}

a.cat:after {
    content: '\e866';
    font-family: "mfn-icons";

}

a.tags:before {
    content: '\e92f';
    font-family: "mfn-icons";
}

a.tags:after {
    content: '\e866';
    font-family: "mfn-icons";

}

a.authors:before {
    content: '\e94b';
    font-family: "mfn-icons";
}

a.authors:after {
    content: '\e866';
    font-family: "mfn-icons";

}

a.reset::before {
    content: '\e963';
    font-family: "mfn-icons";
}

.flex {
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.filter-content {
    width: 1354px;
    height: 85px;

} */