/* START BLOG HEADER */

.blog-header {
    background-image: url("../../img/crypto-blog-headbg.jpg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-attachment: scroll;
    width: 100vw;
    height: 52.1vh;
    background-size: cover;
    padding: 16vh 6vw;
}

.h1-blog {
    color: #fff;
    font-size: 8rem;
    line-height: 9rem;
    font-weight: 700;
    letter-spacing: 0;
    position: relative;
    margin-top: 21px;
    top: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    right: 0px;
    left: 0px;
    margin-left: 77px;
}

@media screen and (max-width:750px) {
    .blog-header {
        background-size: cover;
        height: 40vh;
    }

    .h1-blog {
        font-size: 4.8rem;
        left: 4.5vw;
        bottom: 15vw;
    }
}