.benefit {
  
    display:grid;
    grid-template-columns:20vw 40vw 20vw;
   /* grid-template-rows:10vw 20vw 20vw;*/
    grid-template-areas: 'empety1 hbenfits empety2'
                          'subtitle1 text1 circlepart'
                         'empety3 text2 subtitle2';
    justify-content: center;
}

.benefit-subTitle {
    width: 12.5vw;
    font-weight: 700;
}
 .benefit-subTitle2{
   display: none;
 }
.benefitLeft {
    grid-area:subtitle1;
    
}


.benefit h2 {
    grid-area: hbenfits;
    padding-top: 5vh;
    font-size: 3.5rem;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 500;
    
}

.benefit p {
    grid-area:text1;

}

.benefit section {
    grid-area:text2;
    margin-top: 5vh;
    
}


.circle-container {
    grid-area:circlepart;
    padding-left: 5vw;
}
.circle-text{
    grid-area:subtitle2;
    padding-left: 5vw;
    margin-top: 10vh;
}



/*----------------------------------------circle part---------------------------------*/


.circle .item, .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.item {
    clip: rect(0px, 160px, 160px, 64px);
}

.fill {
    clip: rect(0px, 64px, 160px, 0px);
    background-color: rgb(255, 208, 0);
}

.layer-1, .fill {
    transform: rotate(90deg);
    animation: fill ease-out 2s;
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    /*100%{*/
    /*    transform: rotate(50deg);*/
    /*}*/
}

.inside-content {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #f9fafa;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 130px;
    color: rgb(66, 61, 61);
}

.benefitCircle-subTitle{
  display: none;
}

@media only screen and  (max-width: 428px) {

  .benefit{
    display: flex;
    flex-direction: column;
  }
  .benefit-subTitle {
    display: none;
}
.benefit-subTitle2{
  display: inline;
  width: 95vw;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  /*padding-left: 10vw;*/
  padding-top: 2.5vh;
}
.benefit h2{
  padding-top: 15vh;
  padding-left: 10vw;
  font-size: 2.5rem;
  line-height: 25px;
}
.benefit p{
  padding-left: 10vw;
  font-size: 13px;
  line-height: 19px;
  width: 80vw;

}
.benefit section{
  padding-left: 10vw;
  padding-top: 0.5vh;
  font-size: 13px;
  line-height: 19px;
  width: 85vw;



}
.circle-container {
  padding-left: 30vw;
  padding-top: 5vh;
}
.benefitCircle-subTitle{
  text-align: center;
  display: block;
  padding-top: 8vh;
  font-size: 13px;
  width: 85vw;
  padding-left: 5vw;
  font-weight: 700;
}
}
@media only screen and  (min-width: 428px) and (max-width:768){
  .benefit{
    display: flex;
    flex-direction: column;
  }
  .benefit-subTitle {
    display: none;
}
.benefit-subTitle2{
  display: inline;
  width: 95vw;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  /*padding-left: 10vw;*/
  padding-top: 2.5vh;
}
.benefit h2{
  padding-top: 10vh;
  padding-left: 15vw;
  font-size: 2rem;
  line-height: 25px;
  
}
.benefit p{
  padding-left: 15vw;
  font-size: 13px;
  line-height: 19px;
  width:75vw;

}
.benefit section{
  padding-left: 15vw;
  padding-top: 1vh;
  font-size: 13px;
  line-height: 19px;
  width: 65vw;



}
.circle-container {
 
  padding-top: 5vh;
}
.benefitCircle-subTitle{
  text-align: center;
  display: block;
  padding-top: 8vh;
  font-size: 13px;
  width: 85vw;
 padding-left: 2.5vw;
  font-weight: 700;
}
}
