#labtop{
 width: 35vw;
 height: 40vh;
 
}
#chart{
    width: 35vw;
  height: 40vh;
}
.cardPost{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-areas: 'laptop chart';
    column-gap: 3vw;
    height: auto;
    margin-top: -20vh;
}
.card1{
    grid-area: laptop;
    width: 45vw;
    
    padding-left: 15vw;
    
}
.card2{
    grid-area:chart;
    width: 45vw;
    
}
.cardPostText{
    font-weight: 600;
    color: #0d1a85;
    width: 35vw;
    letter-spacing: 0px;

}
.cardPostText h3{
    font-size: 27px; 
    line-height: 32px;
     font-weight: 700;
    letter-spacing: 0px;
} 
.cardPostText p{
    font-size: 15px; 
    line-height: 22px;
     font-weight: 200;
     letter-spacing: 0.5px;
    
}

.cardPostText2{
    font-weight: 600;
    color: #0d1a85;
    width: 35vw;
}
.cardPostText2 p{
    font-size: 15px; 
    line-height: 22px;
     font-weight: 200;
      letter-spacing: 0.5px;
    
}
.cardPostText2 h3{
    font-size: 27px; 
    line-height: 32px;
     font-weight: 700;
      letter-spacing: 0px;
}

 
@media only screen and (max-width:428px){
    .cardPost{
        display:flex;
        flex-direction: column;
        margin-top: 0;
        row-gap: 8vh;
    }
    
     
    #labtop{
        width: 80vw;
        height: 25vh;
        
       }
         #chart{
        width: 80vw;
      height: 25vh;
    }
    .card1{
        display: flex;
        flex-direction: column;
        width: 45vw;
        padding-left: 10vw;
        margin-top: 15vh;
    }
    
     
    .cardPostText{
        font-weight: 600;
        color: #0d1a85;
        width: 80vw;
    }

    .cardPostText h3{
    font-size: 20px;
    line-height: 28px;
     font-weight: 700;
      letter-spacing: 0px;
     }
     .cardPostText p{
        font-size: 13px;
        line-height: 19px;
         font-weight: 200;
          letter-spacing: 0px;
        
    }
    .card2{
        width: 45vw;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;

    }
    .cardPostText2{
        font-weight: 600;
        color: #0d1a85;
        width: 80vw;
    }
    .cardPostText2 p{
        font-size: 13px; 
        line-height: 19px;
         font-weight: 200;
          letter-spacing: 0px;
        
    }
    .cardPostText2 h3{
        font-size: 20px; 
        line-height: 32px;
         font-weight: 700;
          letter-spacing: 0px;
        
    }
}

@media only screen and (min-width:428px)and (max-width:768px) {
    .cardPost{
        display:flex;
        flex-direction: column;
        margin-top: 0;
        row-gap: 8vh;
    }
    #labtop{
        width: 65vw;
        height: 35vh;
        
       }
         #chart{
        width: 65vw;
      height: 35vh;
    }
    
    .card1{
        display: flex;
        flex-direction: column;
        width: 45vw;
       /* margin-left: 15vw;*/
        margin-top: 5vh;
    }
    
     
    .cardPostText{
        font-weight: 600;
        color: #0d1a85;
        width: 70vw;
    }
    
    .cardPostText h3{
    font-size: 20px;
    line-height: 28px;
     font-weight: 700;
      letter-spacing: 0px;
     }
     .cardPostText p{
        font-size: 15px;
        line-height: 19px;
         font-weight: 200;
          letter-spacing: 0px;
        
    }
    .card2{
        width: 45vw;
        display: flex;
        flex-direction: column;
        padding-left: 15vw;

    }
    .cardPostText2{
        font-weight: 600;
        color: #0d1a85;
        width: 75vw;
    }
    .cardPostText2 p{
        font-size: 15px; 
        line-height: 19px;
         font-weight: 200;
          letter-spacing: 0px;
        
    }
    .cardPostText2 h3{
        font-size: 20px; 
        line-height: 32px;
         font-weight: 700;
          letter-spacing: 0px;
        
    }
}