.diagram {
    display: flex;
    flex-direction: row;
    padding-top:8vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    
}
.diagram:first-child{
    width: 445px;
    height: 289px;

}


.Thead {
    font-size: 15px;
    font-weight: 800;
    color: rgba(15, 14, 14, 0.829);
}

tbody, td, tr {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 1.75vh 1.75vw;
    /*font-weight: 700;*/

}
 
.TTbody {
    /*color: #0d1a85;*/
    border-right: 0 transparent;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    
}

@media only screen and (max-width: 428px) {
    .diagram {
        flex-direction: column;
        padding-top: 10vh;
        height: 80vh;
        justify-content: center;
    }

    #circleDiagram {
      /*  margin-left: 10vw;*/
        width: 85vw;
       
    }

    .wrapperTable {
      /*  margin-left: 15vw;*/
        margin-top: 2vh;
       
    }

    .Thead {
        font-size: 13px; 
    }

    .TTbody {
        color: #0d1a85;
        border-right: 0px transparent;
        font-size: 13px;
    }
}
  
@media only screen and (min-width: 428px) and (max-width:768) {
    .diagram {
        flex-direction: column;
        padding-top: 10vh;
        height: 80vh;
        justify-content: center;
    }

    #circleDiagram {
      /*  margin-left: 10vw;*/
        width: 70vw;
       
    }

    .wrapperTable {
      /*  margin-left: 15vw;*/
        margin-top: 2vh;
    }

    .Thead {
        font-size: 13px;
    }

    .TTbody {
        color: #0d1a85;
        border-right: 0px transparent;
        font-size: 13px;
    }
}