.diagram 
{
    display: grid;
    grid-template-columns: repeat(2,50fr);
    margin-top: 20vh;
    gap: 0.5vw;
    height: 80vh;
}
#circleDiagram {
    margin-left: 10vw;
}

   
   
        .Thead{
          font-size: 15px;
          font-weight: 800;
          color: rgba(54, 50, 50, 0.685);
      }
      tbody ,td ,tr{
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          padding: 2vh 2vw;
          /*font-weight: 700;*/
         
      }
      .TTbody{
          color: #0d1a85;
          border-right: 0px transparent;
          font-size: 15px;
      }
      
    

       .lamp{
          border: 1px solid #ddd;
      }
    table{
         border-collapse: collapse;
    }
    @media only screen and (max-width:768px){
        .diagram 
{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    gap: 0.5vw;
    height: 80vh;
}
#circleDiagram {
  margin-top: 5vh;
    width: 85vw;
    
}

   .wrapperTable{
       margin-left: 15vw;
       margin-top: 2vh;
   } 
   .Thead{
    font-size: 13px;
    font-weight: 800;
    color: rgba(54, 50, 50, 0.685);
}    
.TTbody{
    color: #0d1a85;
    border-right: 0px transparent;
    font-size: 13px;
}
    }    