.header{
   background-image: url(../../img/crypto-home-slider-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top left;
   height: 100vh;
   width: 100vw;
}
@media only screen and  (max-width:428px){
   .header{
     
      height: 85vh;
      width: 100vw;
   }

}
@media only  screen and (min-width:768px)and (max-width:1024px) {
   .header{
      height: 100vh;
   }
}
@media only  screen and (min-width:2024px){
   .header{
      height: 50vh;
   }
}
