
.headerContent h6{
   padding-top: 15vh;
    padding-left: 15vw;
    color: #9db9e0;
    display: inline-block;
    font-size: 20px; 
    line-height: 25px; 
    font-weight: 300; 
    letter-spacing: 5px;
}

.headerContent h1{
    
    font-size: 70px;
    line-height: 78px;
    letter-spacing: 0px;
    display: inline-block;
    font-weight: 900;
    color: whitesmoke;
    padding-left: 15vw;
    width: 50vw;
    margin-top:0;
      
    
}
.headerContent{
    display: inline-block;
   width: 80vw;
}
@media only screen and (min-width:320px)and (max-width:428px){
    .headerContent h1 {
        font-size: 4.2rem;
        line-height: 4.5rem;
        width: 80vw;
        padding-left: 10vw;

    }
    .headerContent h6 {
        font-size: 13px;
        letter-spacing: 2.5px;
        padding-left: 10vw;
    }
}

@media only screen and (min-width: 428px) and (max-width:760px) {
    .headerContent h1 {
        font-size: 5rem;
        line-height: 5rem;
        width: 60vw;


    }
}
@media only  screen and (min-width:768px)and (max-width:1024px){
    .headerContent h1 {
        font-size: 75px;
        line-height: 78px;
        font-weight: 600;
        padding-left: 8vw;
        width: 65vw;
     

    }
    .headerContent h6 {
        font-size:20px;
        letter-spacing: 5px;
        padding-left:8vw;
        padding-top: 10vh;
    }
}
@media only  screen and (min-width:2024px){
    .headerContent h1 {
        font-size: 75px;
        line-height: 78px;
        font-weight: 600;
        padding-left: 25vw;
        width: 40vw;
     

    }
    .headerContent h6 {
        font-size:20px;
        letter-spacing: 5px;
        padding-left:25vw;
        padding-top: 10vh;
    }
}










