*, *::before, *::after {
    /* box-sizing: inherit; */
    -webkit-font-smoothing: antialiased;
}
.iconPart{
    display: grid;
    grid-template-columns: 45vw 45vw;
  grid-template-rows: repeat(1,10fr);
   background-color:rgb(244, 250, 244);
   margin-top: 75vh;
    
}
.box{
    
    width: 45vw;
    /*height: 45vh;*/
 /* background-color: chocolate;*/
    margin: auto;
    padding: 0;
    margin-top: 20vh;
   
}
 .boxIMG:hover::before{
    width: 100px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    top: 10vh;
    left: 10vw;

    position: relative;
}
.boxIMG::before{
    width: 0px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto; 
    height: 2px;
    top: 10vh;
    left: 10vw;
    position: relative;
}



.boxIMG {

    width: 40vw;
  /*background-color: orchid;*/
   /* height: 40vh;*/
    margin: auto;
    
}

 .boxContent {
    /* background-color: blue;*/
     width: 20vw;
     margin: 0;
     margin-left: 18vw;
     margin-bottom: 20vh;
     
 }


.iconDiv {
   /* background-color: cadetblue;*/
    width: 8vw;
    margin: 0px;
    margin-left: 8vw;
     height: 30vh;
    
}
.iconDiv img{
    margin-top: 13vh;    
}



.boxIMG h3{
   /* margin-left: 18vw;*/
   margin-top: -18vh;
    color: #0d1a85;
    font-size: 25px;
    font-weight: 700;
   
   
    
}
.boxIMG p{
   /* margin-left: 18vw;*/
   margin-bottom: 28vh;
    width: 20vw;
    font-size: 15px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;
}
.iconDiv:hover > img{
    margin-top: 10vh;
    transition: ease-out 0.5s;
}
 .wallet{
    width: 45vw;
  /*  height: 45vh;*/
 /*background-color: chocolate;*/
    padding: 0;
   /* margin-left: -10vw;*/
   margin-top: 20vh;
    
 }   
 .walletCon {
   /* background-color: blue;*/
    width: 20vw;
    margin: 0;
    margin-left: 18vw;
    
}

.walletImg{
    width: 40vw;
  /*  background-color: orchid;*/
     /*height: 40vh;*/
     margin: auto;
     
}
.walletImg:hover::before{
    width: 100px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    left: 10vw;
    top: 10vh;
    position: relative;
    
}
.walletImg::before{
    width: 0px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto;

    left: 10vw;
    height: 2px;
    top: 10vh;
   position: relative;
}
.wallet h3{
    
    margin-top: -18vh;
    color: #0d1a85;
    font-size: 25px;
    font-weight: 700;

}
.wallet P{
    width: 20vw;
    font-size: 15px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;

}
.walletImg :hover> img{
    margin-top: 10vh;
    transition: ease-out 0.5s;
    
}
.globe{
    width: 45vw;
   /* height: 55vh;*/
 /* background-color: chocolate;*/
    margin: auto;
    padding: 0;
   margin-top: -15vh;
   
}
.globeImg {
    width: 42vw;
   /* background-color: orchid;*/
    /* height: 45vh;*/
     margin: auto;
}

.globeCon {
   /* background-color: blue;*/
    width: 20vw;
    margin: 0;
    margin-left: 18vw;
    
}
.globe h3{
    
    margin-top: -18vh;
    color: #0d1a85;
    font-size: 25px;
    font-weight: 700;

}
.globe p {
    width: 20vw;
    font-size: 15px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;
}
.globeImg:hover::before{
    width: 100px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    left: 10vw;
    top: 10vh;
    position: relative;
    
}
.globeImg::before{
    width: 0px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto;

    left: 10vw;
    height: 2px;
    top: 10vh;
   position: relative;
}
.key{
    width: 45vw;
   /* height: 55vh;*/
 /* background-color: chocolate;*/
 /*margin-left: -10vw;*/
    margin-top: -15vh;
    padding: 0;
}

.keyImg{
    
    width: 40vw;
  /* background-color: orchid;*/
   /* height: 45vh;*/
    margin: auto;
    
}
.keyImg:hover::before{
    width: 100px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    top: 8vh;
    left: 10vw;
    position: relative;
}
.keyImg::before{
    width: 0px;
    background-color: #ffc327;
    transition:  all .3s ease-in-out;
    content: "";
    display: block;
    margin: 0 auto; 
    height: 2px;
    top: 8vh;
    left: 10vw;
   position: relative;
}
.keyCon {
   /* background-color: blue;*/
    width: 20vw;
    margin: 0;
    margin-left: 18vw;
    
}
.key h3{
    
    margin-top: -18vh;
    color: #0d1a85;
    font-size: 25px;
    font-weight: 700;
}
.key p{
    
    width: 20vw;
    font-size: 15px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;

}

.line{
    width: 100vw;
    margin-top: 15vh;
    
}
@media only screen and (max-width:768px){
   
.iconPart {
   display: flex;
   flex-direction: column;
   /*margin-top: 215vh;*/
}
.line{
    width: 100vw;
   
    
}
.box{
    
    width: 100vw;
    /*height: 30vh;*/
  /*background-color: chocolate;*/
    margin: auto;
    padding: 0;
   
}
.boxIMG {

    width: 85vw;
  /* background-color: orchid;*/
    /*height: 30vh;*/
    margin: auto;
    
}

 .boxContent {
     /*background-color: blue;*/
     width: 55vw;
     margin-top: 8vh;
    
     margin-left: 28vw;
     
 }

.boxIMG h3{
   /* margin-left: 18vw;*/
    margin-top: -25vh;
    color: #0d1a85;
    font-size: 18px;
    font-weight: 700;
    
    
}
.boxIMG p{
   /* margin-left: 18vw;*/
   
    width: 50vw;
    font-size: 13px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;
}
.wallet{
    
    width: 100vw;
    /*height: 30vh;*/
  /*background-color: chocolate;*/
    margin: auto;
    padding: 0;
   
}
.walletImg {

    width: 85vw;
  /* background-color: orchid;*/
    height: 40vh;
    margin: auto;
    
}

 .walletCon {
    /* background-color: blue;*/
     width: 55vw;
     margin-top: 8vh;
    
     margin-left: 28vw;
     
 }


.walletImg h3{
   /* margin-left: 18vw;*/
    margin-top: -25vh;
    color: #0d1a85;
    font-size: 18px;
    font-weight: 700;
    
    
}
.walletImg p{
   /* margin-left: 18vw;*/
   
    width: 50vw;
    font-size: 13px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;
}
.globe{
    
    width: 100vw;
   /* height: 45vh;*/
 /* background-color: chocolate;*/
    margin: auto;
    padding: 0;
   
}
.globeImg {

    width: 85vw;
  /* background-color: orchid;*/
    height: 40vh;
    margin: auto;
    
}

 .globeCon {
    /* background-color: blue;*/
     width: 55vw;
     margin-top: 8vh;
    
     margin-left: 28vw;
     
 }

.globeImg h3{
   /* margin-left: 18vw;*/
   /* margin-top: -20vh;*/
    color: #0d1a85;
    font-size: 18px;
    font-weight: 700;
    
    
}
.globeImg p{
   /* margin-left: 18vw;*/
   
    width: 60vw;
    font-size: 13px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;
}
.key{
    
    width: 100vw;
   /* height: 45vh;*/
 /* background-color: chocolate;*/
    margin: auto;
    padding: 0;
   
}
.keyImg {

    width: 85vw;
  /* background-color: orchid;*/
  /*  height: 40vh;*/
    margin: auto;
    
}

 .keyCon {
    /* background-color: blue;*/
     width: 55vw;
     margin-top: 8vh;
    
     margin-left: 28vw;
     
 }


.iconDiv {
   /* background-color: cadetblue;*/
    width: 15vw;
    margin: 0px;
    margin-left: 4vw;
   height: 30vh;
    
}
.iconDiv img{
    margin-top: 13vh;    
}



.keyImg h3{
   /* margin-left: 18vw;*/
    margin-top: -25vh;
    color: #0d1a85;
    font-size: 18px;
    font-weight: 700;
    
    
}
.keyImg p{
   /* margin-left: 18vw;*/
   
    width: 60vw;
    font-size: 13px;
    line-height: 20px;
    letter-spacing :0;
    color: #0d1a85;
}
.line{
    width: 100vw;
    margin-top: 11vh;
    
}
}