.ideaBox{
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    width: 40vw;
    margin:6vw auto;
    align-items: center;
    justify-content:start;
    justify-items: center;
}

.ideaBox #lamp:after{
    content: '\e8ae';
    font-family: "mfn-icons";
    font-size:30px;
    color: #ddd;
    /*color: red;*/
    padding-right:1vw;
    padding-left: 1vw;
    border-right: 1px solid #ddd;
    margin-right: 2vw;
    align-items: baseline;

}

.ideaBox--subText{
    display: none;
}
@media only screen and (min-width:320px)and (max-width:428px){
    .ideaBox{
        width: 60%;
        padding-left: 5vw;
        margin-top: 5vh;
    }
     .ideaBox--subText{
    display: block;
    padding-left: 10vw;
    width: 80vw;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15vh;
    
}
}

  
   @media only screen  and (min-width:428px) and (max-width:760px){
    .ideaBox{
        width: 80%;
        padding-left: 5vw;
    } 

    .ideaBox--subText{
        display: block;
        padding-left: 10vw;
        width: 85vw;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }
}

@media only screen and (min-width:768px)and (max-width:1024px){
    .ideaBox{
        width: 50%;
        margin-left:25vw;
    } 

}
@media only  screen and (min-width:2024px){
    .ideaBox{
        width: 35%;
        

    }
}