.ideaBox{
    
    border: 1px solid #ddd;
    width: 40vw;
   

}
.ideaBox p:before{
    content: '\e8ae';
    font-family: "mfn-icons";
    font-size:30px;
    color: #ddd;
    padding-right:1vw;
    padding-left: 1vw;
    border-right: 1px solid #ddd;
    margin-right: 2vw;

}

@media only screen  and (max-width:768px){

   .ideaBox{
       width: 75%;
   }
}

