
.lastPragraph{
    margin-top: 6vw;
    display: grid;
    grid-template-columns: 40vw 25vw;
    /*grid-template-rows: auto;*/
    grid-template-areas: 'text1 empety'
                          'text2 subTitle';
    justify-content: right;
    gap: 4vw;
}
.p1{
    grid-area: text1;
      color: #0d1a85;
      
}
 .p2{
     grid-area: text2;
   

}
.shortText{
    grid-area: subTitle;

}
@media only screen and (min-width:320px)and (max-width:428px){
    .lastPragraph{
        display: flex;
        flex-direction: column;
    }
    .lastPragraph .p1{
      margin-top: 35vh;
        font-size: 13px; 
        line-height: 19px;
         font-weight: 200;
          letter-spacing: 0px;
          width: 75vw;
          color: #0d1a85;
          margin-left: 15vw;
    }
    .lastPragraph .p2{
        font-size: 13px; 
        line-height: 19px;
         font-weight: 200;
          letter-spacing: 0px;
          margin-top: -20vh;
         color: #0d1a85;
         width: 75vw;
         margin-left:15vw;
    
    }
    .shortText{
    
       /* width: 90vw;*/
        color: #0d1a85;
        margin-left: 18vw;
        height: 25vh;
    }
    .shortText p {
      font-size: 10px; 
      margin-top: 15vh;
      font-weight: 700;
      margin-left: 12.5vw;
    }
}

@media only screen  and (min-width:428px) and (max-width:760px){
    .lastPragraph{
        display: flex;
        flex-direction: column;
    }
    .lastPragraph .p1{
       margin-top: 20vh;
        font-size: 15px; 
        line-height: 25px;
         font-weight: 200;
          letter-spacing: 0px;
          width: 75vw;
          color: #0d1a85;
          margin-left: 15vw;
    }
    .lastPragraph .p2{
        font-size: 15px; 
        line-height: 25px;
         font-weight: 200;
          letter-spacing: 0px;
          margin-top: -25vh;
         color: #0d1a85;
         width: 75vw;
         margin-left:15vw;
    
    }
    .shortText{
    
       /* width: 90vw;*/
        color: #0d1a85;
        margin-left: 18vw;
        height: 25vh;
    }
    .shortText p {
      font-size: 10px; 
      margin-top: 15vh;
      font-weight: 700;
      margin-left: 12.5vw;
    }
    
}