body{
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

h2{
    font-size:3.8rem;
    font-weight: 700;
    line-height:4.5rem;
}
h3{
    font-size:2.7rem;
    font-weight: 700;
    line-height:3.2rem;
    margin-bottom: 15px;
}
h4{
    font-size:1.7rem;
    font-weight: 600;
    line-height:2.3rem;
}

@media screen and (max-width: 750px) {
    h2{
        font-size:2.1rem;
        line-height:2.5rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.3rem;
        line-height: 1.9rem;
        letter-spacing: 0px;
    }
    p{
        font-size: 1.3rem;
    }
}
