
#beindex-div{
    background-color:var(--main-color);
    /*height: 10vh;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 2rem;
}
.beindex-parameters span{
    padding: 0.4vw;
}
.beindex-parameters b{
    padding-left: 0.5vw;
}
.beindex-parameters span:last-child{
    color: #79e66e ;
}
#negative-para {
    color: #fb7878;
}

@media screen and (max-width: 750px) {
    #beindex-div {
        display: flex;
        flex-direction: column;
        align-items:center ;
        font-size: 1.5rem;
line-height: 0.8rem;
    }
}