
.benefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}

.benefits-text{
    width: 30%;
}
.benefits-text p{
    line-height:3.2rem;
}
.benefits-text button{
    margin-top: 2.5vw;
}
.benefits-money-text{
    margin-left: 3vw;
}
.benefits-money img{
    width:37vw;
}


.miner-text {
    margin-right: 7vw;
}
.miner img{
    width: 35vw;
}

@media screen and (max-width: 750px) {
    .benefits {
        flex-direction: column;
    }

    .benefits-text {
        width: 85%;
    }

    .benefits-money img, .miner img {
        width: 80vw;
        padding-top: 10vw;
    }
    .benefits-text p{
        line-height:normal;
    }

    .miner-text {
        margin-right: 1vw;
    }

}




