#header{
    background-image: url("../../img/crypto-home-slider-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 56vw;
    background-attachment: scroll;
    padding: 16vh 6vw;
    box-sizing:border-box;
}
.header-text{
    padding-left: 5vw;
    align-content: flex-end;
    margin-top: 8vw;
}
#header h1{
    font-size: 5.5vw;
    letter-spacing: -1px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 8rem;
}
#header p{
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 300;
    color:var(--third-color);
    letter-spacing: 3px;
}
#header button{
    font-weight: bold;
    margin-top: 2vw;
}
#header button:hover{
    background-color: white;
}
#header img {
    width:45vw;
    height: 45vw;
    float: right;
}
.animate__animated {
    animation-delay: 1s;
    --animate-duration: 2s;
    transition-timing-function: cubic-bezier(.22,.12,.83,.67);
}
@media screen and (max-width: 750px){
    #header{
        height:55vh;
        width: 100vw;
        padding:15vh 0;
    }
    .header-text{
        padding-left:1vw;
        margin-top: 6vw;
    }
    #header h1{
        font-size:8vw;
        line-height: normal;
    }
    #header p{
        font-size: 1.8vw;
        letter-spacing: 1.1px;
        line-height: normal;
    }
    #header button{
        font-size: 0.6rem;
        margin-top: 2vw;
        margin-left: 1vw;
    }
    #header img {
        width: 50vw;
    }
}