#header{
    background-image: url("../../img/crypto-home-slider-bg.png");
    background-repeat:repeat;
    background-size:114vw;
    background-position: -3vw 40vw;
    width: 100%;
    background-attachment: scroll;
    padding:10px;
    box-sizing:border-box;
display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    overflow: hidden;

}
#header img {
    padding:20px 0;
    animation:myanimation 4s;
    /*transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
    /*transform-origin: 50% 50% 0px;*/
}

@keyframes myanimation {
    0% {
        transform: rotateY(80deg);
    }
    50% {
        transform: rotateY(0deg);
    }
}

.header-text{
    padding-left:67px;
}
#header h1{
    font-size:75px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #FFFFFF;
    height: 192px;
    line-height: 7.8rem;
    margin-top:0;
    padding-top:20px;
    width: 500px;

}
#header p{
    text-transform: uppercase;
    font-size:2rem;
    font-weight: 300;
    letter-spacing: 4px;
    border-color: rgb(13, 26, 133);
    color: rgb(132, 171, 220);
    line-height: 2.2rem;
    padding-left: 8px;

}
#header button{
    font-weight: 500;
    /*margin-top: 10px;*/
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    color:rgb(22, 28, 84);
    width: 243px;
    height: 47px;

}
#header button:hover {
    background-color: white;
    color: rgb(22, 28, 84);
}

#header img {
    width:626px;
    height: 626px;
    /*float: right;*/
}
/*------------------------------------media screen 1024 desktop---------------------------*/
@media (min-width: 769px)and (max-width: 1024px) {
    #header{
        background-position: 22vw;
        background-size: 147vw;
    }
    #header img {
        width:594px;
        height:594px;
    }
    #header h1 {
        font-size: 68px;
        width: 450px;
        padding-top:18px;
        margin-bottom: 0;

    }
    #header p{
font-size: 1.9rem;
    }
    .header-text{
        padding-left:45px;
        margin-top: -45px;
    }
    #header button{
        font-size: 1.6rem;
        width: 229px;
        height: 44px;
        margin-top: 30px;

    }


}
/*-------------------------------common settings for mobile and tablet -----------------------*/

@media screen and (max-width:1000px){
    #header{
        align-items:unset;
        padding:12px 0;
        background-size: 150vw;
        background-position: 14vw 84vw;

    }
    .header-text{
        width:180px;
        padding-top: 40px;
        padding-right:10px;
        padding-left:45px;
    }
    #header h1{
        font-size:2.9rem;
        line-height:3.1rem;
        width:210px;
        padding-top:6px;
        font-weight: 700;
        letter-spacing:0;
        height: 75px;

    }
    #header p{
        font-size:0.8rem;
        letter-spacing: 2px;
        line-height: normal;
        padding-left:0;
    }
    #header button{
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin-top:0;
        text-align: center;
        /*margin-left: 1vw;*/
        width: 99px;
        height: 19px;
    }
    #header img {
        width:246px;
        height:246px;
        padding:0 20px 0 0;
    }
}
/*-----------------------------------setting for medium phone--------------------------------*/
@media (min-width:321px)and (max-width:375px) {
    #header img {
        width: 217px;
        height: 217px;
        padding: 0;
    }

    #header h1 {
        font-size: 2.6rem;
        line-height: 2.7rem;
        width: 188px;
        /*padding-top:6px;*/
        height: 67px;
    }

    #header p {
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .header-text{
        width:160px;
        padding-top: 32px;
        padding-left:20px;
    }
    #header button{
        font-size: 0.6rem;
        line-height: 0.6rem;
        margin-top:0;
        text-align: center;
        /*margin-left: 1vw;*/
        width: 85px;
        height: 16px;
    }
    #header{
        height: 243px;
    }
}
/*-----------------------------------setting for small phone--------------------------------*/
@media  (max-width:320px) {
    #header img {
        width: 185px;
        height: 185px;
        padding: 0;
    }

    #header h1 {
        font-size: 2.6rem;
        line-height: 2.7rem;
        width: 188px;
        /*padding-top:6px;*/
        height: 67px;
    }

    #header p {
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .header-text{
        width:160px;
        padding-top: 32px;
        padding-left:20px;
    }
    #header button{
        font-size: 0.6rem;
        line-height: 0.6rem;
        margin-top:0;
        text-align: center;
        /*margin-left: 1vw;*/
        width: 85px;
        height: 16px;
    }
    #header{
        height: 243px;
    }
}
