hr{
    border: 1px solid lightgray;
    width: 80%;
    clear: both;
    margin-top: 10vw;
}
h2{
    font-size:3.8rem;
    font-weight: 700;
    line-height:4.5rem;
    margin-bottom: 15px;

}
h3{
    font-size:2.7rem;
    font-weight: 700;
    line-height:3.2rem;
    margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
    h2{
        font-size:2.1rem;
        line-height:2.5rem;
    }
    h3{
        font-size: 1.6rem;
    }
}
