#main-elements{
    max-width: 100vw;
    overflow-x: hidden;
}
hr{
    border: 1px solid rgba(59, 59, 59, 0.08);
    width: 80%;
    clear: both;
    margin-top: 100px;
}
.benefits h2, #static h2 {
    margin-bottom: 15px;
}
.icons {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    /*font-size: 3rem;*/

}
.icons ion-icon{
    padding: 8px;
}

@media (max-width:700px){
    hr{
        margin-top: 90px;
        width:80% ;
    }
}
