hr{
    border: 1px solid lightgray;
    width: 80%;
    clear: both;
    margin-top: 10vw;
}
.benefits h2, #static h2 {
    margin-bottom: 15px;
}
.icons {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.icons ion-icon{
    padding: 8px;
}


