#static{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#static p{
    width:50%;
text-align: center;
}
@media screen and (max-width: 750px) {
    #static p{
        width:85%;}

}