button{
    text-align: center;
    padding: 0.9vw 2.1vw;
    border: 0;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.select-btn{
    color:var(--text-color);
    background-color: var(--second-color);
    border: none;
}
.select-btn:hover {
 background-color: #d7a113;
}
.buy-btn{
color: #07074d;
    text-transform: capitalize;

}
@media screen and (max-width: 750px ) {
    button {
        font-size: 1.3rem;
    }

    .buy-btn {
        width: 85%;
        height: 8vh;
        margin: 4vw;
    }

    .select-btn {
        padding: 3vw;
    }
}
