
button{
    text-transform: capitalize;
    text-align: center;
    padding: 0 2.5vw;
    border: 0;
    font-size: 1.8rem;
}
.select-btn{
    color:var(--text-color);
    background-color: var(--second-color);
    border: none;
}