button{
    text-align: center;
    /*padding: 0.9vw 30px;*/
    border: 0;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.select-btn{
    color:var(--text-color);
    background-color: var(--second-color);
    border: none;

}

.menu--items .buy-btn:hover,.select-btn:hover{
    background-color: #f1b925;
    transition:  all 1s ease-in-out;

}
@media screen and (max-width: 750px ) {
    button {
        font-size: 1.3rem;
    }

    .buy-btn {
        width: 85%;
        height: 8vh;
        margin: 4vw;
    }

    .select-btn {
        padding: 3vw;
    }
}
