button{
    text-align: center;
    border: 0;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.select-btn{
    color:#161c53;
    background-color: var(--second-color);
    border: none;
    width: 174px;
    height: 45px;

}

.menu--items .buy-btn:hover,.select-btn:hover{
    background-color: #f1b925;
    transition:  all 0.3s ease-in-out;
    color:#161c53;


}
@media screen and (max-width: 750px ) {
    button {
        font-size: 1.3rem;
    }

    .buy-btn {
        width: 85%;
        height: 8vh;
        margin: 4vw;
    }

    .select-btn {
        padding: 3vw;
    }
}
