.menu{
    height: 12vh;
    width: 100%;
    background-color: var(--main-color);
    opacity: 90% ;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "logo buttons";
    border-bottom:solid #3c4e89 1px ;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}
.logo{
    grid-area: logo;
    height: 7vh;
    align-self: center;
    padding-left: 2vw;
    cursor:pointer;

}
.menu--items{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}
.menu--items-button{
    color:var(--third-color) ;
    background-color: var(--main-color);
}
.menu--items-button:hover{
    background-color: #1b245b;
    color: #FFFFFF;
    cursor:pointer;
}
#menu-berger{
    display: none;
}
#menu-mob{
    display: none;
}

@media screen and (max-width: 700px) {
    .menu--items{
        display: none;
    }
    #menu-mob{
    height: 100vh;
    width: 76vw;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
        flex-wrap: initial;
        float: right;
        position: fixed;
        top:0;
        right: 0;
        font-size: 0.6rem;
        z-index: 2;
    }
#menu-berger{
    display:flex;
    flex-direction: row-reverse;
    padding: 4vw;
    font-size: 3rem;
    color: #FFFFFF;

}
    .menu--items-button{
        width: 100%;
        text-align:left;
        padding-left: 5vw;
       border-bottom:  1px solid rgba(255,255,255,.03);
        line-height: 7vh;
    }

    #menu-mob-close{
        font-size: 3rem;
        color: var(--third-color);
        float: right;
        padding:4vw;
    }
    .menu-mob-icons{
        display: flex;
        flex-direction: row;
        padding: 3vw;
        font-size: 14px;
        color: var(--third-color);
        justify-content: center;
    }
    .menu-mob-icons ion-icon{
        padding: 8px;
    }
    .menu-mob-icons ion-icon:hover{
        color: #FFFFFF;
    }
    .menu-mob-show{
        transform: translate(0);
        transition-duration: 0.5s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
    .menu-mob-close{
        transform: translate(100vw);
        transition-duration: 0.5s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
    }

#beindex{
    height: 7vh;
}

