.menu{
    height:70px;
    width: 100%;
    background-color:var(--main-color);
    display: grid;
    /*grid-template-columns: 20% 79%;*/
    grid-template-areas: "logo buttons";
    border-bottom:solid #3c4e89 1px ;
    box-sizing:initial;
    z-index: 1;
    /*justify-items: center;*/
    align-items: center;

}
#logo{
    grid-area: logo;
    height: 37px;
    width: 137px;
    align-self: center;
    padding-left: 1.5vw;
    cursor:pointer;
    display: inline-block;

}

.menu--items{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content:center;
}
.menu--items button{
    color:var(--third-color) ;
    padding:0 30px;
    height:70px;
    background-color:var(--main-color);
}
.menu--items .buy-btn{
    color: #07074d;
    background-color: var(--second-color);
    transition:  all 1s ease-in-out;

}
button:hover{
    background-color: #1b245b;
    color: #FFFFFF;
    transition:  all 1s ease-in-out;
}
button.active {
    background-color: #1b245b;
    color: #FFFFFF;
}

#menu-berger{
    display: none;
}
#menu-mob{
    display: none;
}
/*--------------------------------sticky menu settings-----------------------*/
.sticky {
    position: fixed;
    top: 0;
    opacity: 90% ;
    transition: all 2s ease-out;

}
.stickyMenu-button{
    height: 60px;
}
.stickyMenu-logo{
    width: 162px;
    height:36px ;
}
/*----------------------------------------*/
@media screen and (max-width: 750px) {
    .menu--items{
        display: none;
    }
    #logo{
        height:35%;
    }

    #menu-mob{
    height: 100vh;
    width:250px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
        flex-wrap: initial;
        float: right;
        position: fixed;
        top:0;
        right: 0;
        font-size: 0.6rem;
        z-index: 2;
    }
    #menu-berger{
    width:auto;
    display:flex;
    flex-direction: row-reverse;
    padding-right: 4vw;
    font-size: 3rem;
    color: #FFFFFF;
        align-items: center;
}
    .menu--items-button{
        width: 100%;
        text-align:left;
        padding-left: 5vw;
       border-bottom:  1px solid rgba(255,255,255,.03);
        line-height: 7vh;
    }

    #menu-mob-close{
        font-size: 3rem;
        color: var(--third-color);
        float: right;
        padding:4vw;
    }
    .menu-mob-icons{
        color: var(--third-color);
        padding: 3vw;
    }
    .menu-mob-icons ion-icon:hover{
        color: #FFFFFF;
    }
    .move-menu{
        transform: translate(-30vw);
        transition-duration: 0.3s;
        transition-timing-function: linear;
        transition-delay: 0.3s;
        filter: grayscale(50%);
    }
    .move-back-menu{
        transform: translate(0);
        transition-duration: 0.3s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
    .menu-mob-show{
        transform: translate(0);
        transition-duration: 0.5s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
    .menu-mob-close{
        transform: translate(100vw);
        transition-duration: 0.5s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
    }